:root {
    --color-main-blue: #446df6;
    --color-main-dark-blue: #141b41;
    --color-main-active-blue-RGB: 150, 200, 230;
    --color-classic-light-grey: #e9ecf5;
    --color-classic-grey: #72727e;
}
