$arrow-border: 3px solid var(--color-main-blue);

.content_arrow {
    height: 30px;
    .underline_arrow {
        border-bottom: $arrow-border;
        height: 50%;
        width: 100%;
    }
    .corner_arrow {
        position: relative;
        left: 91%;
        bottom: 8px;
        width: 10px;
        height: 10px;
        border-bottom: $arrow-border;
        border-right: $arrow-border;
        transform: rotate(-45deg);
    }
}

@media screen and (min-width: 799px) {
    .content_arrow {
        animation: openPage 1s ease-in-out;
        width: 20%;
    }
}

@keyframes openPage {
    0% {
        width: 0;
    }
    100% {
        width: 20%;
    }
}