.navButton {
    padding: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: transparent;
    border: none;
    border-left: 1px var(--color-classic-light-grey) solid;
    border-bottom: none;
    border-right: none;
    border-top: none;
    height: 100%;
    width: 60px;

    p {
        transform: rotate(90deg);
        font-size: small;
        font-weight: 600;
    }
}