
.mainButton {
    width: 170px;
    height: 50px;
    border-radius: 6px;
    font-weight: 600;
    border: none;
    background-color: transparent;
    color: var(--color-main-blue);
    cursor: pointer;
}

.mainButton:hover {
    border: 2px solid var(--color-main-blue);
}

.mainButton:active {
    background-color: rgba(var(--color-main-active-blue-RGB), 0.1);
}

.classic_button_get_allow {
    background-color: var(--color-main-blue);
    color: white;
}

.classic_button_get_allow:active {
    color: black;
}