
.mainButton {
    width: 170px;
    height: 50px;
    border-radius: 6px;
    font-weight: 600;
    cursor: pointer;
}

.header_button {
    border: none;
    background-color: transparent;
    color: var(--color-main-blue);
}

.header_button:hover {
    border: 2px solid var(--color-main-blue);
}

.header_button:active {
    background-color: rgba(var(--color-main-active-blue-RGB), 0.1);
}